@import "../../styles/globalVariables.scss";
.favorites {
  .favorites__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    @include breackpoint(md) {
      gap: 15px;
      grid-template-columns: repeat(3, 1fr);
    }

    @include breackpoint(sm) {
      gap: 10px;
      grid-template-columns: repeat(2, 1fr);
    }

    @include breackpoint(xm) {
      gap: 15px;
      grid-template-columns: 1fr;
    }
  }
  .favorites__none {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    .none__title {
      h1 {
        font-size: 24px;
        font-weight: 500;
        line-height: 29.26px;
        font-family: Montserrat, sans-serif;
        color: $gray;
        margin-bottom: 15px;
      }
    }
  }
}
