@import "../../../styles/globalVariables.scss";
.card__dark {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px;
  background-image: url("../../../assets/CompanyBlock/backgroundCard.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: fit-content;
  background-size: cover;
  height: 100%;
  p {
    font-size: 20px;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    line-height: 24.38px;
    color: $white !important;
  }
}
.card__light {
  display: flex;
  width: fit-content;
  flex-direction: column;
  gap: 15px;
  padding: 30px;
  display: flex;
  p {
    font-size: 20px;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    line-height: 24.38px;
    color: $black;
  }
  
}
