.company {
  .company__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    .wrapper__card {
      display: flex;
      gap: 10px;
      flex-direction: column;
    }
    .company__background {
      img {
        width: 656px;
        height: 394px;
      }
    }
  }
}
