@import '../../styles/globalVariables.scss';
.header {
  background: $backDark;
  padding: 22px 0px;
  .header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header__logo {
      h1 {
        font-family: "Maven Pro", sans-serif;
        font-size: 17px;
        font-weight: 400;
        line-height: 19.98px;
        color: #ffffff;
      }
    }
    .header__links {
      display: flex;
      gap: 15px;
      a {
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.5px;
        color: #ffffff;
      }
    }
    .header__items{
        display: flex;
        gap: 15px;
    }
  }
}
